[Unit]
Description=hello_env.js - making your environment variables rad Documentation=https://example.com
After=network.target

[Service]
Environment=PORT=80
Type=simple
User=ec2-user
ExecStart=/usr/bin/node /home/ec2-user/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
